[Unit]
Description=Foot terminal server
PartOf=graphical-session.target

[Service]
ExecStart=/usr/bin/foot --server
Restart=on-failure

[Install]
WantedBy=graphical-session.target
